* {
  margin: 0;
  padding: 0;
}
:root {
  --color: #09f;
}
.tool {
  position: relative;
  background: var(--color);
  height: 240px;
  display: flex;
  margin: 13px;
  padding: 10px;
  min-width: 260px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  color: white;
  overflow: hidden;
  transition: 0.8s;
  text-decoration: none;
}
.tool:hover {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.tool-titel {
  z-index: 4;
}
.bobel {
  transition: 0.7s;
  width: 100%;
  height: 100%;
  position: absolute;
  clip-path: circle(0%);
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.tool:hover .bobel {
  clip-path: circle(100%);
}
@media only screen and (max-width: 615px) {
  .tool {
    width: 100%;
  }
}
@media only screen and (min-width: 1220px) {
  .tool {
    width: 45%;
    font-size: 33px;
  }
}
